/* Variables CSS */

:root {
    /* Font Family */
    --font: 'Nunito', sans-serif;
}

:root {
    /* Fonts Sizes */
    --h1: 2.5rem;
    --body: .875rem;
    --tiny: .75rem;
}

:root {
    /* Colors */
    --primary: #40916C;
    --gray: #4D4D4D;
    --dark: #1B1B1B;
    --white: #fff;
}

/* Page Reset Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

a {
    text-decoration: none;
}

p {
    font-size: var(--body);
    line-height: 1.6;
}

p,
a {
    color: var(--gray);
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    color: var(--dark);
}

/* Styles & Components */

.container {
    max-width: 1320px;
    padding: 64px 0;
    margin: 120px auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Titles */

.title {
    font-size: var(--h1);
    line-height: 1;
    color: var(--dark);
}

/* .social-media {
    display: flex;
    gap: 16px;
}

.social-media i {
    color: var(--d-60);
    font-size: var(--h2);
    border-radius: 30px;
    transition: all 200ms ease;
    padding: 8px;
}

.social-media i:hover {
    color: var(--white);
    background-color: var(--primary-dark);
    transform: translate(-2px);
    border-radius: 30px;
} */

.btn {
    display: inline-block;
    border-radius: 40px;
    font-size: var(--tiny);
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px 30px;
}

.btn-fill {
    background: var(--primary);
    color: var(--white);
    margin-right: 16px;
}

.btn-outline {
    border: 1px solid var(--primary);
    color: var(--dark);
}

/* === Inputs === */

label {
    font-size: var(--body-small);
    display: block;
    margin: 20px 0 16px 0;
    color: var(--d-60);
}

input {
    max-width: 420px;
    padding: 16px;
    border: 1px solid var(--d-20);
    border-radius: 4px;
}

input:focus {
    outline-color: var(--p-100);
    background-color: transparent;
}


/* Header */
.header-primary {
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--W-100);
}

.nav-links {
    gap: 24px;
    list-style: none;
}

.nav-link {
    font-size: var(--body);
    line-height: 1;
}

.nav-link:hover {
    color: var(--primary-main);
}

#btn-mobile {
    display: none;
}

/* === Footer === */

.main-footer {
    flex-direction: column;
    background-color: var(--W-80);
    padding: 64px 15px;
}

.main-footer .social-media {
    padding: 40px;
}